{% extends 'base.html' %}
{% block content %}
<h1>My  Meals</h1>
<div class="row row-cols-1 row-cols-md-3 g-1">
    {% for meal in meals %}
    <div class="row">
    <div class="col">
      <div class="card h-100">
      <img src="{{meal.strMealThumb}}"  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ID: {{meal.idMeal}}</h5>
        <p class="card-text">{{meal.strMeal}}</p>
      </div>
    </div>
  </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

